@import "@/assets/scss/variables.scss";

#wbIndexWrapper {
  width: 100%;
  height: 100%;
  font-size: 30px;
  overflow: scroll;
  .wb-first-screen {
    box-sizing: border-box;
    .wb-index-header {
      position: relative;
      height: 250px;
      background: #000333;
      padding-top: 60px;
      .wb-index-header-download {
        margin-top: 30px;
        border-radius: 20px;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
      }
      .wb-index-header-avator {
        position: absolute;
        width: 150px;
        height: 150px;
        top: 210px;
        left: 50%;
        transform: translateX(-50%);
        background: #000333;
        border-radius: 50%;
        overflow: hidden;
      }
    }
    .wb-index-nav {
      padding-top: 60px;
      font-size: 20px;
      .wb-index-nav-item {
        display: inline-block;
        margin: 20px 20px 0;
      }
    }
    .wb-index-intro {
      margin-top: 50px;
      font-size: 26px;
      line-height: 30px;
    }
    .wb-index-divider {
      height: 120px;
      width: 0px;
      border-left: 2px solid #ccc;
      margin: 0 auto;
      margin-top: 60px;
      margin-bottom: 70px;
    }
  }
  .wb-second-screen {
    box-sizing: border-box;
    padding: 20px 15px;
    background: #efefef;
    text-align: left;
    .wb-skills-title {
      font-size: 24px;
    }
    .wb-skills-content {
      font-size: 18px;
      text-align: justify;
      line-height: 30px;
    }
    .wb-skills-item {
      margin-bottom: 20px;
      font-size: 18px;
      &:nth-of-type(7),
      &:nth-of-type(1) {
        .mt-progress-progress {
          background: #26a2ff;
        }
        .mt-progress-runway {
          box-sizing: border-box;
          border: 2px solid #26a2ff;
        }
      }
      &:nth-of-type(8),
      &:nth-of-type(2) {
        .mt-progress-progress {
          background: #4078c0;
        }
        .mt-progress-runway {
          box-sizing: border-box;
          border: 2px solid #4078c0;
        }
      }
      &:nth-of-type(9),
      &:nth-of-type(3) {
        .mt-progress-progress {
          background: #02592e;
        }
        .mt-progress-runway {
          box-sizing: border-box;
          border: 2px solid #02592e;
        }
      }
      &:nth-of-type(10),
      &:nth-of-type(4) {
        .mt-progress-progress {
          background: #e07702;
        }
        .mt-progress-runway {
          box-sizing: border-box;
          border: 2px solid #e07702;
        }
      }
      &:nth-of-type(11),
      &:nth-of-type(5) {
        .mt-progress-progress {
          background: #f5e200;
        }
        .mt-progress-runway {
          box-sizing: border-box;
          border: 2px solid #f5e200;
        }
      }
      &:nth-of-type(12),
      &:nth-of-type(6) {
        .mt-progress-progress {
          background: #dd59ad;
        }
        .mt-progress-runway {
          box-sizing: border-box;
          border: 2px solid #dd59ad;
        }
      }
    }
  }
  .wb-third-screen {
    box-sizing: border-box;
    padding: 0 15px 20px;
    background: #efefef;
    text-align: left;
    .wb-abilities-title {
      margin: 0;
      font-size: 24px;
    }
    .wb-abilities-content {
      font-size: 18px;
      text-align: justify;
      line-height: 30px;
    }
    .wb-abilities-items {
      .wb-abilities-item {
        .wb-abilities-item-img {
          vertical-align: middle;
        }
        .wb-abilities-item-desc {
          margin-left: 15px;
          vertical-align: middle;
          font-size: 22px;
        }
        .wb-abilities-item-content {
          margin-top: 10px;
          margin-left: 50px;
          line-height: 30px;
          font-size: 20px;
          text-align: justify;
          color: #666;
        }
      }
    }
    .wb-abilities-marks {
      width: 240px;
      height: 100px;
      margin: 0 auto;
      border-bottom: 2px solid #ccc;
      .wb-ablities-marks-line {
        width: 0px;
        height: 100%;
        margin: 0 auto;
        border-left: 2px solid #ccc;
      }
    }
  }
  .wb-forth-screen {
    box-sizing: border-box;
    padding: 20px 15px;
    text-align: left;
    .wb-experience-title {
      font-size: 24px;
    }
    .wb-experience-content {
      font-size: 18px;
      text-align: justify;
      line-height: 30px;
    }
    .wb-experience-items {
      font-size: 22px;
      .wb-experience-item {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        &::before {
          content: '';
          position: absolute;
          left: 15px;
          width: 2px;
          height: 100%;
          background: #ccc;
          z-index: -1;
        }
        .wb-experience-item-mark {
          height: 31px;
          width: 31px;
          background: url('~@/assets/images/icon_arrow.png') no-repeat center center;
        }
        .wb-experience-item-content {
          .wb-experience-item-content-wrapper {
            width: 270px;
            list-style: none;
            .wb-experience-item-content-wrapper-addorn {
              color: #ccc;
            }
          }
        }
      }
    }
  }
  .wb-fifth-screen {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 20px 15px;
    .wb-bm-view {
      width: 100%;
      height: 500px;
    }
    .wb-contact-info {
      background: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 20px;
      left: 15px;
      bottom: 20px;
      right: 15px;
      padding: 20px;
      .wb-contact-form {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background: #fff;
        padding: 20px;
        text-align: right;
        .wb-contact-form-title {
          margin: 0;
          text-align: left;
        }
        .wb-contact-form-field,
        .wb-contact-form-textarea {
          background: #000;
          width: 100%;
          height: 50px;
          margin-top: 20px;
          font-family: 'Times New Roman', Times, serif;
          .mint-field-core {
            background: #000;
            color: #fff;
            font-family: 'Times New Roman', Times, serif;
            &::-webkit-input-placeholder { /* WebKit browsers */
              color: #b5b5b5;
            }
            
            &::-moz-placeholder { /* Mozilla Firefox 19+ */
              color: #b5b5b5;
            }
            
            &:-ms-input-placeholder { /* Internet Explorer 10+ */
              color: #b5b5b5;
            }  
          }
        }
        .wb-contact-form-textarea {
          height: 130px;
        }
        .wb-contact-form-btn {
          width: 170px;
          margin-top: 20px;
          font-family: 'Times New Roman', Times, serif;
          letter-spacing: 2px;
        }
      }
    }
  }
}
